tfoot {
  th {
    text-align: right;
  }
}

table {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.form-control {
  font-size: small;
}

input {
  text-align: right;
}

#fee {
  text-align: left;
}

.title-input {
  text-align: left;
  font-size: 1rem;
  border: none;
  padding-left: 0;

  &::placeholder {
    opacity: 0.5;
  }
}
