<h2 class="m-4 text-center">SM Work Order Cost Estimation</h2>

<div class="container">
  <!--Start Fee Percentage-->
  <div class="d-flex justify-content-center">
    <label for="fee" class="text-end pt-1">Fee %:</label>
    <input autocomplete="off" style="width: 100px;" id="fee" [(ngModel)]="feePrecentage" name="fee" type="text"
      class="form-control no-print-border ml-5" id="fee">
  </div>
  <!--End Fee Percentage-->

  <!--Start first Table-->
  <table class="mt-5 table table-md">
    <thead>
      <tr style="text-align: right;">
        <th scope="col" style="width: 50%;"></th>
        <th scope="col" style="width: 10%;">Units</th>
        <th scope="col" style="width: 15%;">Base</th>
        <th scope="col" style="width: 5%;"></th>
        <th scope="col" style="width: 20%;">Cost</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cost of costDetails; let i = index;">
        <td *ngIf="cost.titleType === 'Label'" scope="row">{{cost.title}}</td>
        <td *ngIf="cost.titleType === 'Input'" scope="row">
          <input type="text" [(ngModel)]="cost.title" placeholder="Enter New Title" class="form-control title-input">
        </td>
        <td>
          <input type="text" [(ngModel)]="cost.units" class="form-control no-print-border">
        </td>
        <td>
          <input type="text" [(ngModel)]="cost.base" class="form-control no-print-border">
        </td>
        <td></td>
        <td>
          <input type="text" [value]="(cost.base * cost.units) | number: '1.2-2'" disabled
            class="form-control no-print-border">
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>
          <button class="btn btn-primary btn-sm no-print" (click)="addNewRow()">Add New</button>
        </td>
        <th colspan="3" class="text-right">Total Cost</th>
        <td>
          <input type="text" [value]="calcTotalCost() | number:'1.2-2'" disabled class="form-control no-print-border">
        </td>
      </tr>
      <tr>
        <th colspan="4" class="text-right">Total Cost plus Fee</th>
        <td>
          <input type="text" [value]="calcTotalCostWithPercentage() | number:'1.2-2'" disabled
            class="form-control no-print-border">
        </td>
      </tr>
    </tfoot>
  </table>
  <!--End first table-->

  <!--Start second table-->
  <table class="mt-5 table table-md">
    <thead>
      <tr>
        <th scope="col" style="width: 50%;">
          <h5>Revenue Based Allocations</h5>
        </th>
        <th scope="col" style="width: 25%;"></th>
        <th scope="col" style="width: 25%;"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let allocation of revenueAllocations">
        <td scope="row">{{allocation.title}}</td>
        <td>
          <input type="number" [value]="allocation.percentage" disabled class="form-control no-print-border">
        </td>
        <td>
          <input type="text" [value]="totalCostWithFee * allocation.percentage | number:'1.2-2'" disabled
            class="form-control no-print-border">
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="2" class="text-right">Revenue Allocations</th>
        <td>
          <input type="text" [value]="calcTotalRevenueAllocation() | number:'1.2-2'" disabled
            class="form-control no-print-border">
        </td>
      </tr>
    </tfoot>
  </table>
  <!--End second table-->

  <!--Start third table-->
  <table class="mt-5 table table-md">
    <thead>
      <tr>
        <th scope="col" style="width: 50%;">
          <h5>Labor Based Allocations</h5>
        </th>
        <th scope="col" style="width: 25%;"></th>
        <th scope="col" style="width: 25%;"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let allocation of labourAllocations">
        <td scope="row">{{allocation.title}}</td>
        <td>
          <input type="number" [value]="allocation.percentage" disabled class="form-control no-print-border">
        </td>
        <td>
          <input type="text"
            [value]="costDetails[0].units * costDetails[0].base * allocation.percentage | number:'1.2-2'" disabled
            class="form-control no-print-border">
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="2" class="text-right">Labor Allocations</th>
        <td>
          <input type="text" [value]="calcTotalLaborAllocation() | number:'1.2-2'" disabled
            class="form-control no-print-border">
        </td>
      </tr>
      <tr>
        <td colspan="3">&nbsp;</td>
      </tr>
      <tr style="border-top: none;">
        <th colspan="2" class="text-right">Total Invoice</th>
        <td>
          <input type="text" [value]="calcOverallTotal() | number:'1.2-2'" disabled
            class="form-control no-print-border">
        </td>
      </tr>
    </tfoot>
  </table>
  <!--End third table-->

  <!--Start Print-->
  <div class="d-flex justify-content-center m-5">
    <button (click)="printForm()" class="btn btn-primary no-print">Print Report</button>
  </div>
  <!--End Print-->
</div>